#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        sensor_rotate_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_wheel_scroll: mouse_wheel_scroll {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;

            tap-ms = <20>;
        };
    };


/* レイヤー番号を明示的に定義 */
#define DEFAULT 0
#define FUNCTION 1
#define NUM 2
#define ARROW 3
#define MOUSE 4
#define SCROLL 5
#define BT_LAYER 6

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = 
/* 修正: &to_layer_0 Q → &to DEFAULT と &kp Q を分離できないため、
   もし「Qを押しながらレイヤー0に戻る」の意図なら &kp Q のみに、
   「レイヤー0へ移動するキー」の意図なら &to DEFAULT に変更 */
&kp Q          &kp L  &kp U  &kp COMMA  &kp DOT    &kp F       &kp W        &lt SCROLL R  &kp Y  &kp P
&kp E          &kp I  &kp A  &kp O      &kp MINUS  &trans      &kp PLUS     &kp K         &kp T  &kp N   &kp S  &kp H
&kp Z          &kp X  &kp C  &kp V      &kp SLASH  &kp EXCL    &kp LG(LS(S)) &kp G       &kp D  &kp M   &kp J  &kp B
&kp LCTRL  &kp ESC  &kp LALT  &kp LSHIFT  &lt NUM SPACE  &kp LGUI  &kp BACKSPACE  &lt FUNCTION ENTER  &kp DEL
            >;
            /* 修正: mouse_wheel_scroll → inc_dec_kp（標準ビヘイビア名） */
            sensor-bindings = <&inc_dec_kp C_SCROLL_DOWN C_SCROLL_UP>;
        };

        FUNCTION_layer {
            bindings = 
&kp CARET  &kp AMPS   &kp TILDE  &kp LPAR   &kp RPAR   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5
&kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT  &trans  &kp COLON  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10
&kp PIPE   &kp BSLH   &kp SLASH  &kp STAR   &kp SQT    &trans  &kp SEMI   &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp F12
            >;
            /* 修正: sensor_rotate_kp → inc_dec_kp */
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        NUM_layer {
            bindings = 
&kp MINUS   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp PLUS    &kp CARET  &kp AMPS   &kp TILDE  &kp LPAR   &kp RPAR
&kp UNDER   &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp STAR    &trans     &kp COLON  &kp EXCL   &kp AT     &kp HASH   &kp DLLR  &kp PRCNT
&mt LSHIFT KP_N0  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp DOT  &kp EQUAL  &kp SEMI  &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC  &kp BSLH
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp PIPE
            >;
        };

        ARROW_layer {
            bindings = 
&kp ESC    &kp LC(LS(TAB))  &kp UP     &kp LC(TAB)  &trans  &trans  &kp LA(LEFT)  &trans  &kp LA(RIGHT)  &trans
&kp HOME   &kp LEFT         &kp DOWN   &kp RIGHT    &kp END  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp LSHIFT &kp LG(LEFT)     &trans     &kp LG(RIGHT) &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        MOUSE_layer {
            bindings = 
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &mkp MB1  &trans  &trans  &trans  &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        SCROLL_layer {
            bindings = 
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        BT_layer {
            bindings = 
&trans  &trans  &trans  &trans  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp N1  &kp N2  &kp N3  &trans  &trans  &bootloader  &trans  &trans  &trans  &trans  &bt BT_CLR
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &bt BT_CLR_ALL
            >;
        };
    };
};
